### Documentação ###
HELP.md

### Java & Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar
.cache/

### Variáveis de Ambiente (CRÍTICO) ###
# Ignora o arquivo com senhas reais, mas mantém o exemplo
.env

### Docker ###
.docker/

### IDEs (IntelliJ, STS, VS Code) ###
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode/
bin/

### Sistema Operacional ###
Thumbs.db
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/